[Desktop Entry]
Name=Breeze Light v0.036
Name[ca]=Brisa clara v0.036
Name[cs]=Breeze Light v0.036
Name[de]=Breeze Light v0.036
Name[en_GB]=Breeze Light v0.036
Name[es]=Brisa Light v0.036
Name[fi]=Breeze Light v0.036
Name[fr]=Brise lumière v0.036
Name[hu]=Breeze Light v0.036
Name[ko]=Breeze Light v0.036
Name[nb]=Breeze Light v0.036
Name[nds]=Breeze Licht v0.036
Name[nl]=Breeze Light v0.036
Name[pl]=Jasna Bryza v0.036
Name[pt]=Brisa Clara v0.036
Name[pt_BR]=Breeze Light v0.036
Name[ru]=Breeze Light, версия 0.036
Name[sk]=Breeze Light v0.036
Name[sl]=Sapica (lahko) r0.036
Name[sr]=Поветарац лаки в0.036
Name[sr@ijekavian]=Поветарац лаки в0.036
Name[sr@ijekavianlatin]=Povetarac laki v0.036
Name[sr@latin]=Povetarac laki v0.036
Name[sv]=Breeze Light v0.036
Name[uk]=Breeze Light, версія 0.036
Name[x-test]=xxBreeze Light v0.036xx
Name[zh_CN]=Breeze Light v0.036

X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Breeze-Light-0.036
X-KDE-PluginInfo-Version=0.036
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
