[Desktop Entry]
Name=Breeze Light v0.036
Name[es]=Brisa Light v0.036
Name[pl]=Jasna Bryza v0.036
Name[pt_BR]=Breeze Light v0.036
Name[sl]=Vetrič (lahko) r0.036
Name[sv]=Breeze Light v0.036
Name[uk]=Breeze Light, версія 0.036
Name[x-test]=xxBreeze Light v0.036xx

X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Breeze-Light-0.036
X-KDE-PluginInfo-Version=0.036
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
