[Desktop Entry]
Name=Breeze v0.034
Name[ca]=Brisa v0.034
Name[cs]=Breeze v0.034
Name[da]=Breeze v0.034
Name[de]=Breeze v0.034
Name[el]=Breeze v0.034
Name[en_GB]=Breeze v0.034
Name[es]=Brisa v0.034
Name[fi]=Breeze v0.034
Name[fr]=Brise v0.034
Name[hu]=Breeze v0.034
Name[ko]=Breeze v0.034
Name[nb]=Breeze v0.034
Name[nds]=Breeze v0.034
Name[nl]=Breeze v0.034
Name[pl]=Bryza v0.034
Name[pt]=Brisa v0.034
Name[pt_BR]=Breeze v0.034
Name[ru]=Breeze, версия 0.034
Name[sk]=Breeze v0.034
Name[sl]=Sapica r0.034
Name[sr]=Поветарац в0.034
Name[sr@ijekavian]=Поветарац в0.034
Name[sr@ijekavianlatin]=Povetarac v0.034
Name[sr@latin]=Povetarac v0.034
Name[sv]=Breeze v0.034
Name[uk]=Breeze, версія 0.034
Name[x-test]=xxBreeze v0.034xx
Name[zh_CN]=微风 v0.034
Name[zh_TW]=微風 v0.034

X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Breeze-0.034
X-KDE-PluginInfo-Version=0.034
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
