[Desktop Entry]
Name=Indian Summer
X-KDE-PluginInfo-Name=IndianSummer
X-KDE-PluginInfo-Author=Robert Fitsy
X-KDE-PluginInfo-Email=rehfjo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
