[Desktop Entry]
Exec=kcmshell5 breezedecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/breezedecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Breeze Window Decoration
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Breeze
Name[da]=Breeze vinduesdekoration
Name[de]=Breeze-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Breeze
Name[en_GB]=Breeze Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[eu]=Breeze leihoen apaindura
Name[fi]=Breeze-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Breeze
Name[hu]=Breeze ablakdekoráció
Name[ia]=Decoration de fenestra Breeze
Name[it]=Decorazione delle finestre di Brezza
Name[ko]=Breeze 창 장식
Name[nl]=Breeze vensterdecoratie
Name[nn]=Breeze-vindaugsdekorasjon
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Breeze
Name[ru]=Оформление окон Breeze
Name[sk]=Dekorácie okien Breeze
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Breeze fönsterdekoration
Name[tr]=Breeze Pencere Dekorasyonu
Name[uk]=Декорації вікон Breeze
Name[x-test]=xxBreeze Window Decorationxx
Name[zh_CN]=微风窗口装饰
Name[zh_TW]=Breeze 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Breeze
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=breeze,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[ca]=breeze,brisa,decoració
X-KDE-Keywords[ca@valencia]=breeze,brisa,decoració
X-KDE-Keywords[cs]=breeze,dekorace
X-KDE-Keywords[da]=breeze,dekoration
X-KDE-Keywords[de]=Breeze-Dekoration
X-KDE-Keywords[el]=breeze,διακόσμηση
X-KDE-Keywords[en_GB]=breeze,decoration
X-KDE-Keywords[es]=breeze,brisa,decoración
X-KDE-Keywords[et]=breeze,dekoratsioon
X-KDE-Keywords[eu]=breeze,apainketa,apaindura
X-KDE-Keywords[fi]=breeze,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=breeze,décoration
X-KDE-Keywords[gl]=breeze,decoración
X-KDE-Keywords[he]=breeze,decoration,מסגרת
X-KDE-Keywords[hu]=breeze,dekoráció
X-KDE-Keywords[ia]=breeze,decoration
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ko]=breeze,decoration,장식
X-KDE-Keywords[lt]=breeze,kekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=breeze,decoratie
X-KDE-Keywords[nn]=breeze,dekorasjonar,pynt
X-KDE-Keywords[pl]=breeze,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=breeze,decoração
X-KDE-Keywords[ro]=briză,breeze,decorare,decorație
X-KDE-Keywords[ru]=breeze,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=breeze,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=breeze,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=breeze,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=breeze,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=breeze,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=breeze,dekoration
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=breeze,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxbreezexx,xxdecorationxx
X-KDE-Keywords[zh_CN]=breeze,decoration,微风,装饰
X-KDE-Keywords[zh_TW]=breeze,decoration
