[Desktop Entry]
Exec=kcmshell5 breezedecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/breezedecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Window  Decoration
Name[ca]=Decoració de les finestres
Name[el]=Διακοσμήσεις παραθύρου
Name[en_GB]=Window  Decoration
Name[es]=Decoración de las ventanas
Name[fi]=Ikkunan kehys
Name[fr]=Décoration de fenêtre
Name[it]=Decorazione delle finestre
Name[lt]=Lango dekoracija
Name[nl]=Vensterdecoratie
Name[pl]=Wystrój okien
Name[pt]=Decoração de Janelas
Name[pt_BR]=Decorações da janela
Name[sk]=Dekorácie okien
Name[sr]=Декорација прозора
Name[sr@ijekavian]=Декорација прозора
Name[sr@ijekavianlatin]=Dekoracija prozora
Name[sr@latin]=Dekoracija prozora
Name[sv]=Fönsterdekoration
Name[tr]=Pencere Dekorasyonu
Name[uk]=Декорації вікон
Name[x-test]=xxWindow  Decorationxx
Name[zh_CN]=窗口装饰
Name[zh_TW]=視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=breeze,decoration
X-KDE-Keywords[ca]=breeze,brisa,decoració
X-KDE-Keywords[el]=breeze,διακόσμηση
X-KDE-Keywords[en_GB]=breeze,decoration
X-KDE-Keywords[es]=breeze,brisa,decoración
X-KDE-Keywords[fi]=breeze,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=breeze,décoration
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[lt]=breeze,kekoracija
X-KDE-Keywords[nl]=breeze,decoratie
X-KDE-Keywords[pl]=breeze,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=breeze,decoração
X-KDE-Keywords[sk]=breeze,dekorácia
X-KDE-Keywords[sr]=breeze,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=breeze,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=breeze,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=breeze,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=breeze,dekoration
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=breeze,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxbreezexx,xxdecorationxx
X-KDE-Keywords[zh_CN]=breeze,decoration,微风,装饰
X-KDE-Keywords[zh_TW]=breeze,decoration
