[Desktop Entry]
Name=Next
Name[ca]=Next
Name[fi]=Next
Name[nds]=Nakamen
Name[nl]=Volgende
Name[pl]=Dalej
Name[pt]=Next
Name[pt_BR]=Next
Name[sk]=Ďalší
Name[sl]=Next
Name[sv]=Next
Name[uk]=Next
Name[x-test]=xxNextxx
Name[zh_CN]=Next

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
