[Desktop Entry]
Name=Next

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
