[Desktop Entry]
Name=Next
Name[ca]=Next
Name[nl]=Volgende
Name[pl]=Dalej
Name[sk]=Ďalší
Name[sv]=Next
Name[uk]=Next
Name[x-test]=xxNextxx

X-KDE-PluginInfo-Name=Next
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
