[Desktop Entry]
Name=Poppy
X-KDE-PluginInfo-Name=Poppy
X-KDE-PluginInfo-Author=Sinisa Tatic
X-KDE-PluginInfo-Email=sinisa.tatic@gmail.com
X-KDE-PluginInfo-License=LGPLv3
