[Desktop Entry]
Name=Breeze
Name[ca]=Brisa
Name[de]=Breeze
Name[es]=Brisa
Name[fi]=Breeze
Name[gl]=Breeze
Name[hu]=Breeze
Name[nds]=Breeze
Name[nl]=Breeze
Name[pl]=Bryza
Name[pt]=Brisa
Name[pt_BR]=Breeze
Name[sk]=Breeze
Name[sl]=Vetrič
Name[sr]=Поветарац
Name[sr@ijekavian]=Поветарац
Name[sr@ijekavianlatin]=Povetarac
Name[sr@latin]=Povetarac
Name[sv]=Breeze
Name[tr]=Breeze
Name[uk]=Breeze
Name[x-test]=xxBreezexx
Comment=KDE theme
Comment[ca]=Tema del KDE
Comment[de]=KDE-Design
Comment[es]=Tema de KDE
Comment[fi]=KDE-teema
Comment[gl]=Tema de KDE
Comment[nds]=KDE-Muster
Comment[nl]=KDE-thema
Comment[pl]=Wystrój KDE
Comment[pt]=Tema do KDE
Comment[pt_BR]=Tema do KDE
Comment[sk]=Téma KDE
Comment[sl]=Tema KDE
Comment[sr]=КДЕ тема
Comment[sr@ijekavian]=КДЕ тема
Comment[sr@ijekavianlatin]=KDE tema
Comment[sr@latin]=KDE tema
Comment[sv]=KDE-tema
Comment[tr]=KDE Teması
Comment[uk]=Тема KDE
Comment[x-test]=xxKDE themexx

X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Andrew Lake
X-KDE-PluginInfo-Email=jamboarder@gmail.com
X-KDE-PluginInfo-Name=kwin4_decoration_qml_breeze
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Decoration
Type=Service

