[Desktop Entry]
Name=Helios
X-KDE-PluginInfo-Name=Helios
X-KDE-PluginInfo-Author=Sigi Sagi
X-KDE-PluginInfo-Email=open
X-KDE-PluginInfo-License=LGPLv3
