[Desktop Entry]
Comment=Breeze Dark Desktop Design Language by the KDE VDG
Comment[ar]=لغة تصميم سطح المكتب «نسيم داكن» من مجموعة تصاميم كدي المرئيّة
Comment[ca]=Llenguatge de disseny d'escriptori Brisa fosca pel VDG del KDE
Comment[ca@valencia]=Llenguatge de disseny d'escriptori Brisa fosca pel VDG del KDE
Comment[cs]=Jazyk pro návrh pracovní plochy Breeze Dark od KDE VDG
Comment[da]=Breeze Dark sprog til skrivebordsdesign af KDE VDG
Comment[de]=Breeze-Dunkel-Arbeitsflächendesign der KDE VDG
Comment[el]=Γλώσσα σχεδιασμού επιφάνειας εργασίας Breeze Dark από το KDE VDG
Comment[en_GB]=Breeze Dark Desktop Design Language by the KDE VDG
Comment[es]=Lenguaje de diseño del escritorio Breeze Dark, por el VDG de KDE
Comment[et]=Breeze Dark töölauakujunduse keel KDE VDG-lt
Comment[eu]=Breeze Dark mahaingain diseinurako lengoaia KDE VDG-k egina
Comment[fi]=Työpöydän design-kieli Breeze Dark KDE VDG:ltä
Comment[fr]=Thème sombre pour Brise, réalisé par KDE VDG
Comment[gl]=Linguaxe de deseño do escritorio para Breeze Dark de KDE VDG
Comment[he]=שפת העיצוב Breeze Dark על ידי KDE VDG
Comment[hu]=Breeze Dark asztali tervezőnyelv a KDE VDG-től
Comment[it]=Breeze Dark Desktop Design Language dal KDE VDG
Comment[ko]=KDE VDG에서 만든 어두운 Breeze 데스크톱 디자인 언어
Comment[nb]=Breeze Dark-språk for skrivebordsutforming  fra KDE-gruppa for visuell design
Comment[nl]=Breeze Dark ontwerptaal van het bureaublad door KDE VDG
Comment[nn]=Breeze Dark-designspråk av KDE VDG
Comment[pl]=Język Projektowania Ciemnego Pulpitu Bryzy przez KDE VDG
Comment[pt]=Linguagem de Desenho do Ecrã Brisa Escuro, da VDG do KDE
Comment[pt_BR]=Linguagem de desenho da área de trabalho Breeze Dark por KDE VDG
Comment[ru]=Тёмный вариант оформления рабочей среды Breeze от KDE VDG
Comment[sk]=Breeze, tmavý dizajn pracovnej plochy od KDE VDG
Comment[sl]=Sapica (temna), oblikovalni jezik namizja avtorjev KDE VDG
Comment[sr]=Језик дизајна површи Поветарац тамни од КДЕ‑ВДГ‑а
Comment[sr@ijekavian]=Језик дизајна површи Поветарац тамни од КДЕ‑ВДГ‑а
Comment[sr@ijekavianlatin]=Jezik dizajna površi Povetarac tamni od KDE VDG‑a
Comment[sr@latin]=Jezik dizajna površi Povetarac tamni od KDE VDG‑a
Comment[sv]=Breeze-konstruktionsspråk för mörkt skrivbord av KDE VDG
Comment[tr]=KDE VDG tarafından geliştirilen Breeze Koyu Masaüstü Tasarım Dili
Comment[uk]=Мова розробки стільниці Breeze Dark, створена KDE VDG
Comment[x-test]=xxBreeze Dark Desktop Design Language by the KDE VDGxx
Comment[zh_CN]=KDE 视觉设计组设计的暗色微风桌面设计语言
Comment[zh_TW]=KDE VDG 設計的 Breeze Dark 桌面設計語言
Encoding=UTF-8
Name=Breeze Dark
Name[ar]=نسيم داكن
Name[ast]=Breeze Dark
Name[bs]=Breeze tamna
Name[ca]=Brisa fosca
Name[ca@valencia]=Brisa fosca
Name[cs]=Breeze Tmavé
Name[da]=Breeze Dark
Name[de]=Breeze-Dunkel
Name[el]=Σκοτεινό Breeze
Name[en_GB]=Breeze Dark
Name[es]=Brisa oscuro
Name[et]=Breeze Dark
Name[eu]=Breeze Dark
Name[fi]=Breeze Dark
Name[fr]=Brise sombre
Name[gl]=Breeze Dark
Name[he]=Breeze Dark
Name[hu]=Breeze Dark
Name[ia]=Brisa obscure
Name[it]=Brezza scuro
Name[ko]=어두운 Breeze
Name[lt]=Breeze tamsi
Name[nb]=Breeze mørk
Name[nl]=Breeze Dark
Name[nn]=Breeze mørk
Name[pl]=Ciemna bryza
Name[pt]=Brisa Escura
Name[pt_BR]=Breeze Dark
Name[ro]=Briză Întunecat
Name[ru]=Breeze, тёмный вариант
Name[sk]=Tmavý vánok
Name[sl]=Sapica (temna)
Name[sr]=Поветарац тамни
Name[sr@ijekavian]=Поветарац тамни
Name[sr@ijekavianlatin]=Povetarac tamni
Name[sr@latin]=Povetarac tamni
Name[sv]=Breeze mörk
Name[tr]=Koyu Esinti
Name[uk]=Breeze Dark
Name[x-test]=xxBreeze Darkxx
Name[zh_CN]=暗色微风
Name[zh_TW]=Breeze Dark
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.breezedark.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
X-KDE-PluginInfo-License=GPLv2+
