[Desktop Entry]
Comment=Breeze Dark Desktop Design Language by the KDE VDG
Encoding=UTF-8
Name=Breeze Dark
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=KDE Visual Design Group
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-Name=org.kde.breezedark.desktop
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://www.kde.org
X-Plasma-MainScript=defaults
