[Desktop Entry]
Name=Forest House
X-KDE-PluginInfo-Name=ForestHouse
X-KDE-PluginInfo-Author=Alfred Deak
X-KDE-PluginInfo-Email=alfred.deak@chello.at
X-KDE-PluginInfo-License=LGPLv3
