[Desktop Entry]
Name=Walmendinger Horn
X-KDE-PluginInfo-Name=WalmendingerHorn
X-KDE-PluginInfo-Author=Robert Fitsy
X-KDE-PluginInfo-Email=rehfjo@gmail.com
X-KDE-PluginInfo-License=LGPLv3
